<div class="container">
    <div class="row">
        <div class="col">
            <h4>Personality Traits</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Ideals</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Bonds</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Flaws</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Features and Traits</h4>
        </div>
    </div>
</div>