div{
    position: fixed;
    display: flex;
    
    color:white;
    top:10%;
    left:20%;
    height: 80%;
    align-self: center;
    text-align: center;
    background-color:rgba(0,0,0, 0.8) ;
    z-index: 1;
}
form{
    margin:auto;
}
button{
    position: relative;
    
    height: 10%;
}