<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <img src="../../../assets/images/King WIP.png" alt="King" class="img img-thumbnail">
        <hr />
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="container" style="text-align: center;">
            <h1>DND 5e Character Sheet Online</h1>
            <h4>
                <p>
                    This utility has been designed purely from Dungeons and Dragons 5th Edition character sheets.

                </p>
                <hr />
                <p>
                    On the menu above, "new character" will take you to the main character sheet view.

                    Other features in the works:Bio page, character art upload option, dice roller popout utility.
                </p>
            </h4>
        </div>
    </div>
    <div class="col -md-2"></div>
</div>