<div class="row -md-4">
    <div class="col -md-4"></div>
    <div class="col -md-4"></div>
    <div class="col -md-4"></div>
</div>
<div class="row -md-4">
    <div class="col -md-4"></div>
    <div class="col -md-4">
        <img src="../../../assets/images/King WIP.png" alt="King" class="img img-thumbnail">
        <hr/>
    </div>
    <div class="col -md-4"></div>
</div>
<div class="row -md-4">
    <div class="col -md-4"></div>
    <div class="col -md-4">
        <div class="container">
            <h4>On this website, you can create and view new Dungeons and Dragons 5e character sheets.
            </h4>
            <h4>
                On the menu above click New Character to create a blank character sheet. 
            </h4>
        </div>
    </div>
    <div class="col -md-4"></div>
</div>