<div class="container-fluid">
    <div class="row">
        <div class="col card">
            <div class="row card-body">
                <div class="col-md-4 " style="display:flex;align-items:center;justify-content:center;">
                    Initiative: {{css.firstPage.dexterity_modifier}}
                </div>
                <div class="col-md-4 " style="display:flex;align-items:center;justify-content:center;">
                    Speed:<input type="number" [(ngModel)]="css.firstPage.speed">
                </div>
                <div class="col-md-4 " style="display:flex;align-items:center;justify-content:center;">
                    Armor Class:<input type="number" [(ngModel)]="css.firstPage.armorClass">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col card" style="padding-top:8px">
            <div class="card-header w-100" style="padding:2px; text-align: center;">Maximum Hit Points: <input
                    type="number" [(ngModel)]="css.firstPage.health_maximum"></div>
            <div class="card-body" style="align-self: center;padding:0;text-align:center;">
                <input type="number" [(ngModel)]="this.healValue" style="width:30px">
                <button class="btn btn-light" (click)="this.heal()" >Heal
                    Me</button>
                <input type="number" [(ngModel)]="css.firstPage.health_current"
                    style="margin:0 10px; font-size:xlarge;">
                <input type="number" [(ngModel)]="this.damageValue" style="width:30px">
                <button class="btn btn-dark" (click)="this.damage()" >Damage
                    Me</button>
            </div>
            <h5 class="card-footer" style="text-align: center;padding:2px"> Current Hit Points
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col card" style="padding-top:8px;text-align: center;">
            <h5>Temporary Hit Points: <input type="number" [(ngModel)]="css.firstPage.health_temporary"></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 card">
            <h6 class="card-header" style="padding:0;margin-top:8px">Total <input type="text"
                    [(ngModel)]="css.firstPage.hitDice_total" style="width:75%"></h6>
            <div class="card-body" style="padding:0;"><input type="text" [(ngModel)]="css.firstPage.hitDice_value"
                    style="width:100%;"></div>
            <h5 class="card-footer" style="padding:0;text-align: center;">HIT DICE</h5>
        </div>
        <div class="col-md-6 card">
            <div class="card-body" style="padding:0;">
                <div style="font-size: larger; text-align:center">
                    Successes:
                    <input type="checkbox" [(ngModel)]="css.firstPage.deathsaves_life1">
                    <input type="checkbox" [(ngModel)]="css.firstPage.deathsaves_life2">
                    <input type="checkbox" [(ngModel)]="css.firstPage.deathsaves_life3">
                </div>
                <div style="font-size: larger; text-align:center">
                    Failures :
                    <input type="checkbox" [(ngModel)]="css.firstPage.deathsaves_death1">
                    <input type="checkbox" [(ngModel)]="css.firstPage.deathsaves_death2">
                    <input type="checkbox" [(ngModel)]="css.firstPage.deathsaves_death3">
                </div>
            </div>
            <h5 class="card-footer" style="padding:0;text-align:center;margin-bottom: 8px;">
                Death Saves
            </h5>
        </div>
    </div>
    <div class="row ">
        <div class="col card ">
            <div class="card-body " style="padding:0">
                <table class="combat-table">
                    <thead>
                        <tr style="text-align: center;">
                            <th>Name</th>
                            <th>ATK Bonus</th>
                            <th>Damage/Type</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr>
                            <td><input type="text" [(ngModel)]="css.firstPage.weapon1_name"></td>
                            <td><input type="text" [(ngModel)]="css.firstPage.weapon1_atkBonus"></td>
                            <td><input type="text" [(ngModel)]="css.firstPage.weapon1_damageType"></td>
                        </tr>
                        <tr>
                            <td><input type="text" [(ngModel)]="css.firstPage.weapon2_name"></td>
                            <td><input type="text" [(ngModel)]="css.firstPage.weapon2_atkBonus"></td>
                            <td><input type="text" [(ngModel)]="css.firstPage.weapon2_damageType"></td>
                        </tr>
                        <tr>
                            <td><input type="text" [(ngModel)]="css.firstPage.weapon3_name"></td>
                            <td><input type="text" [(ngModel)]="css.firstPage.weapon3_atkBonus"></td>
                            <td><input type="text" [(ngModel)]="css.firstPage.weapon3_damageType"></td>
                        </tr>
                    </tbody>
                </table>

                <div style="padding:0 1px;">
                    <textarea class="auto-text-area" [(ngModel)]="css.firstPage.offense_textbox" rows="1"></textarea>
                </div>
            </div>
            <div class="container card-footer" style="padding:0;text-align:center;margin-bottom:8px">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">Attacks and Spellcasting
                    </div>
                    <div class="col-3"><button class="btn btn-sm btn-primary" (click)="css.spellbook_view = !css.spellbook_view">Spellbook</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row card" style="padding-top:8px; text-align:center;">
        <div class="col">
            <div class="card-header" style="padding:0;">Inventory</div>
            <div class="row card-body" style="padding:0;">
                <div class="col-2">
                    <table>
                        <tr>
                            <td>
                                CP
                            </td>
                            <td>
                                <input type="text" [(ngModel)]="css.firstPage.inventory_copper">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                SP
                            </td>
                            <td>
                                <input type="text" [(ngModel)]="css.firstPage.inventory_silver">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                EP
                            </td>
                            <td>
                                <input type="text" [(ngModel)]="css.firstPage.inventory_electrum">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                GP
                            </td>
                            <td>
                                <input type="text" [(ngModel)]="css.firstPage.inventory_gold">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                PP
                            </td>
                            <td>
                                <input type="text" [(ngModel)]="css.firstPage.inventory_platinum">
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="col">
                    <textarea class="auto-text-area" rows="1" [(ngModel)]="css.firstPage.inventory_equipment"
                        style="height:150px"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>