<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h5>Initiative</h5>
        </div>
        <div class="col-md-4">
            <h5>Speed</h5>
        </div>
        <div class="col-md-4">
            <h5>Armor Class</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Hit Point Maximum</h4>
            <h4>Current Hit Points</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Temporary Hit Points</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Total</h4>
            <h4>HIT DICE</h4>
        </div>
        <div class="col-md-6">
            <h4>Death Saves</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Attacks and Spellcasting</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Inventory</h4>
        </div>
    </div>
</div>